body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color: #333;
	padding:0 10px;
}

h1, h2, h3, h5 {
	line-height:1.2;
	font-weight: bold;
}


h5 {
	color: #f9fbe7;
	text-shadow: 1px 1px #212121;
}

ul {
	list-style: none;
}

p {
	font-weight: bold;
	color: #f9fbe7;
	text-shadow: 1px 1px #212121;
}

label {
	font-size: 120%;
}

/* label underline focus color */
input[type=text],
input[type=text]:focus:not([read-only]) {
	color: #f9fbe7;
  	border-bottom: 1px solid #333;
  	box-shadow: 0 1px 0 0 #333;
}


#q-results li {
	color: #f9fbe7;
	cursor: pointer;
	text-decoration: none;
	list-style: none;
}

#albums-and-tracks li {
	color: #cddc39;
	list-style: none;
}

#q-results li:hover {
	color: #cddc39;
	cursor: grab;
	text-decoration: none;
	list-style: none;
}
